<?xml version="1.0" encoding="UTF-8" ?>
<Module>
	<ModulePrefs title="Hangout Starter">
		<Require feature="rpc" />
		<Require feature="views" />
		<Require feature="locked-domain" />
	</ModulePrefs>
	<Content type="html"><![CDATA[
<!DOCTYPE html>
<html style="height: 100%" lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="//jamesflorentino.github.io/nanoScrollerJS/css/nanoscroller.css" rel="stylesheet">
    <link href="//hangjoy-799317505.us-west-2.elb.amazonaws.com/assets/css/application.css?1" rel="stylesheet">
  </head>
  <body style="height: 100%">
    <ul class="nav nav-tabs menubar">
      <li class="active"><a href="#participants" data-toggle="tab"><span class="glyphicon glyphicon-user"></span></a></li>
      <li><a href="#chat" data-toggle="tab"><span class="glyphicon glyphicon-list"></span></a></li>
      <li><a href="#settings" data-toggle="tab"><span class="glyphicon glyphicon-cog"></span></a></li>
      <li class="dropdown">
        <a href="#" id="rooms" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="rooms">
          <li><a href="#room-architecture" tabindex="-1" data-toggle="tab">@architecture</a></li>
          <li><a href="#room-operations" tabindex="-1" data-toggle="tab">@operations</a></li>
        </ul>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active nano" id="participants">
        <div class="nano-content">
          <ul class="participants list-group">
          </ul>
        </div>
      </div>
      <div class="tab-pane nano" id="chat">
        <div class="nano-content">
          Integrate Flowdock here.
        </div>
      </div>
      <div class="tab-pane" id="settings">
        <div class="nano-content">
          <form role="form">
            <div class="setting-autostart checkbox">
              <label>
                <input type="checkbox"> Auto-start when hangout begins
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//jamesflorentino.github.io/nanoScrollerJS/javascripts/jquery.nanoscroller.js"></script>
    <script type="text/javascript" src="//hangjoy-799317505.us-west-2.elb.amazonaws.com/assets/js/application.js?1"></script>
  </body>
]]>
</Content>
</Module>