html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #f7f7f7;
}

.menubar.nav-tabs {
  background: #1a1c20;
}

.menubar.nav-tabs > li {
  margin-bottom: 0;
}

.menubar.nav-tabs > li > a {
  color: #888888;
  font-size: 1.2em;
}

.menubar.nav-tabs > li > a:hover,
.menubar.nav-tabs > li > a:focus {
  background: #292c34;
  color: #ffffff;
}

.menubar.nav-tabs > li > a,
.menubar.nav-tabs > li > a:hover,
.menubar.nav-tabs > li > a:focus {
  border: none;
}

.menubar.nav-tabs > li.active > a,
.menubar.nav-tabs > li.active > a:hover,
.menubar.nav-tabs > li.active > a:focus {
  color: #ffffff;
  background: #292c34;
  border: none;
}

.menubar.nav-tabs .open > a,
.menubar.nav-tabs .open > a:hover,
.menubar.nav-tabs .open > a:focus {
  background: #292c34;
  color: #ffffff;
}

.menubar.nav-tabs .dropdown-menu {
  background: #292c34;
}

.menubar.nav-tabs .dropdown-menu > li > a {
  color: #ffffff;
}

.menubar.nav-tabs .dropdown-menu > li > a:hover,
.menubar.nav-tabs .dropdown-menu > li > a:focus {
  background: #2a9fd6
}

.tab-content {
  position: absolute;
  top: 45px;
  right: 0;
  bottom: 1px;
  left: 0;
}

.nano .nano-pane {
  background: #888;
}

.nano .nano-slider {
  background: #111;
}

.nano > .nano-content,
.nano > .nano-content:focus {
  outline: 0;
}

.participants-empty {
  display: none;
  width: 90%;
  margin: 15px auto 0;
  text-align: center;
  font-size: 1.2em;
}

.participants-empty .glyphicon {
  display: block;
  margin-bottom: 10px;
  font-size: 2em;
}

.participants.list-group {
  box-shadow: none;
}

.participants .list-group-item {
  padding: 10px 20px;
  border: none;
  background: none;
}

.participants .thumbnail {
  position: relative;
  width: 256px;
  height: 193px;
  padding: 0;
  margin: 0 auto;
}

.participants .thumbnail img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 191px;
  max-width: 254px;
  padding: 0;
  z-index: 1;
}

.participants .thumbnail,
.participants .thumbnail img {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.participants .caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px 9px;
  color: #ffffff;
  background: rgba(42, 159, 214, 0.4);
  z-index: 2;
}

.participants .action {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #ffffff;
  font-size: 1.2em;
  background: rgba(42, 159, 214, 0.3);
  z-index: 2;
}

.participants .hanging.list-group-item .action {
  display: block;
}

.participants .hanging.list-group-item .action * {
  display: none;
}

.participants .action .glyphicon {
  display: block;
  font-size: 2.5em;
  margin: 55px 0 10px;
}

.participants .thumbnail:hover .action,
.participants .thumbnail:hover .action * {
  display: block;
}

.hanging_with {
  position: relative;
  display: none;
  width: 100%;
  height: 35px;
  padding: 2px;
  border-bottom: 1px solid #d6e9c6;
  background: #dff0d8;
}

.hanging_with .title {
  display: block;
  float: left;
  padding: 3px 11px 0 7px;
  font-size: 1.6em;
}

.hanging_with .list_group {
  margin: 0;
  box-shadow: none;
}

.hanging_with .list-group-item {
  float: left;
  padding: 0 1px 0 0;
  border: none;
  background: none;
}

.hanging_with .thumbnail {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background: none;
  cursor: default;
}

.hanging_with .thumbnail img {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  box-shadow: none;
}

.hanging_with .thumbnail,
.hanging_with .thumbnail img {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.hanging_with .actions {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.4em;
}

.hanging_with .actions li {
  padding: 5px 15px;
}

.btn-leave {
  display: none;
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 3px 6px;
}

#settings form {
  padding: 20px;
}

#settings .setting-autostart,
#settings .setting-autostart input {
  cursor: pointer;
}