html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #f7f7f7;
}

.menubar.nav-tabs {
  background: #1a1c20;
}

.menubar.nav-tabs > li {
  margin-bottom: 0;
}

.menubar.nav-tabs > li > a {
  color: #888888;
  font-size: 1.2em;
}

.menubar.nav-tabs > li > a:hover,
.menubar.nav-tabs > li > a:focus {
  background: #292c34;
  color: #ffffff;
}

.menubar.nav-tabs > li > a,
.menubar.nav-tabs > li > a:hover,
.menubar.nav-tabs > li > a:focus {
  border: none;
}

.menubar.nav-tabs > li.active > a,
.menubar.nav-tabs > li.active > a:hover,
.menubar.nav-tabs > li.active > a:focus {
  color: #ffffff;
  background: #292c34;
  border: none;
}

.menubar.nav-tabs .open > a,
.menubar.nav-tabs .open > a:hover,
.menubar.nav-tabs .open > a:focus {
  background: #292c34;
  color: #ffffff;
}

.menubar.nav-tabs .dropdown-menu {
  background: #292c34;
}

.menubar.nav-tabs .dropdown-menu > li > a {
  color: #ffffff;
}

.menubar.nav-tabs .dropdown-menu > li > a:hover,
.menubar.nav-tabs .dropdown-menu > li > a:focus {
  background: #2a9fd6
}

.tab-content {
  position: absolute;
  top: 45px;
  right: 0;
  bottom: 1px;
  left: 0;
}

.nano .nano-pane   { background: #888; }
.nano .nano-slider { background: #111; }

.participants.list-group {
  background: none;
  box-shadow: none;
}

.participants .list-group-item {
  padding: 10px 20px;
  border: none;
  background: none;
}

.participants .thumbnail {
  position: relative;
  width: 256px;
  height: 193px;
  padding: 0;
  margin: 0 auto;
}

.participants .thumbnail img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  z-index: 1;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.participants .caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px 9px;
  color: #ffffff;
  background: rgba(42, 159, 214, 0.4);
  z-index: 2;
}

.participants .action {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #ffffff;
  font-size: 1.2em;
  background: rgba(42, 159, 214, 0.2);
  z-index: 2;
}

.participants .action .glyphicon {
  display: block;
  font-size: 2.5em;
  margin: 55px 0 10px;
}

.participants .thumbnail:hover .action {
  display: block;
}