html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #f7f7f7;
}

#container {
  width: 100%;
  height: 100%;
}

.nano .nano-pane {
  background: #888;
}

.nano .nano-slider {
  background: #111;
}

.nano > .nano-content,
.nano > .nano-content:focus {
  outline: 0;
}


.modal-dialog {
  top: 40px;
}

.modal-header {
  padding: 8px 12px 5px;
}

.modal-header h4 {
  font-size: 15px;
}

.modal-body {
  padding: 10px 15px;
}

.tooltip.in {
  filter: alpha(opacity=100);
  opacity: 1.0;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: rgba(0, 0, 0, 0.8);
}

.tooltip-inner {
  padding: 4px 10px;
  border-radius: 11px;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0.8);
}

.menubar {
  width: 100%;
}

.menubar.btn-group .btn + .btn,
.menubar.btn-group .btn + .btn-group,
.menubar.btn-group .btn-group + .btn,
.menubar.btn-group .btn-group + .btn-group {
  margin-left: 0;
}

.menubar > .btn {
  width: 39px;
  height: 41px;
}

.menubar > .btn,
.menubar > .btn-dropdown,
.menubar > .btn-dropdown .dropdown-toggle {
  padding: 9px 0;
  background: #000000;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 0;
}

.menubar > .btn > span,
.menubar > .btn-dropdown .dropdown-toggle {
  color: #ffffff;
}

.menubar > .btn.active {
  background-color: #db4437;
}

.menubar > .btn:hover,
.menubar > .btn:active {
  background: #262626;
}

.menubar > .btn.active:hover,
.menubar > .btn.active:active {
  background: #b0372d;
}

.menubar > .btn > .glyphicon {
  font-size: 1.3em;
}

.menubar > .btn > input {
  display: none;
}

.menubar > .btn-dropdown {
  width: 25px;
}

.menubar > .btn-dropdown .dropdown-toggle {
  width: 100%;
  padding: 0;
  background: transparent;
}

.menubar > .btn-dropdown .dropdown-menu {
  text-align: left;
  cursor: default;
}

.menubar > .btn-photo-dropdown .dropdown-menu {
  padding: 10px 15px 2px;
}

.menubar > .btn-photo-dropdown select {
  width: 160px;
}

.menubar > .btn-photo-dropdown .setting-unmute_video {
  margin-top: 0;
}

.menubar > .btn-photo-dropdown .setting-unmute_video,
.menubar > .btn-photo-dropdown .setting-unmute_video input {
  cursor: pointer;
}

.menubar > .btn-thumbnail {
  width: 55px;
  padding: 0;
}

.menubar > .btn-thumbnail .thumbnail {
  width: 100%;
  height: 100%;
}

.menubar > .tooltip .thumbnail,
.menubar > .btn-thumbnail .thumbnail {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background: none;
  cursor: default;
}

.menubar > .btn-thumbnail .thumbnail img {
  width: 100%;
  height: 100%;
}

.menubar > .tooltip .thumbnail img,
.menubar > .btn-thumbnail .thumbnail img {
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.menubar > .tooltip .thumbnail {
  width: 177px;
}

.menubar > .btn-thumbnail + .tooltip {
  left: auto !important;
  right: 0;
}

.menubar > .btn-thumbnail + .tooltip .tooltip-arrow {
  left: auto;
  right: 22px;
}

.btn-notifications-dropdown .dropdown-menu {
  left: -80px;
  width: 266px;
  padding: 10px 10px 5px;
}

.btn-notifications-dropdown .dropdown-menu .form-group {
  margin-bottom: 7px;
}

.btn-notifications-dropdown .dropdown-menu .btn-group {
  margin-right: 5px;
}

.btn-notifications-dropdown .dropdown-menu .glyphicon {
  font-size: 16px;
}

.btn-notifications-dropdown .dropdown-menu label {
  padding: 6px 9px;
}

.btn-notifications-dropdown .dropdown-menu .btn-desktop {
  margin-bottom: 7px;
}

.app-content {
  position: absolute;
  top: 41px;
  right: 0;
  bottom: 1px;
  left: 0;
}

.conversation {
  position: relative;
  width: 100%;
  height: 35px;
  padding: 2px;
  border-bottom: 1px solid #d6e9c6;
  background: #dff0d8;
}

.conversation .title {
  display: block;
  float: left;
  padding: 3px 11px 0 7px;
  font-size: 1.6em;
}

.conversation .settings {
  float: left;
  margin-left: 4px;
  cursor: pointer;
  color: #2a6496;
}

.conversation .settings .glyphicon {
  float: left;
  line-height: 28px;
}

.conversation .settings .glyphicon-facetime_video {
  font-size: 22px;
}

.conversation .settings .glyphicon-chevron-right {
  margin-left: 4px;
  font-size: 14px;
}

.conversation .names {
  float: left;
  width: 188px;
  margin-left: 6px;
  line-height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.conversation .btn-leave {
  float: right;
  padding: 3px 6px;
  margin-top: 1px;
}

.conversation .avatars {
  margin: 0;
  box-shadow: none;
  overflow: hidden;
  height: 30px;
}

.conversation .avatars .list-group-item {
  float: left;
  padding: 0 4px 0 0;
  border: none;
  background: none;
}

.conversation .avatars .thumbnail {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background: none;
  cursor: default;
}

.conversation .avatars .thumbnail img {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  box-shadow: none;
}

.conversation .avatars .thumbnail,
.conversation .avatars .thumbnail img {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.users-empty {
  width: 90%;
  margin: 15px auto 0;
  text-align: center;
  font-size: 1.2em;
}

.users-empty .glyphicon {
  display: block;
  margin-bottom: 10px;
  font-size: 2em;
}

.users.list-group {
  box-shadow: none;
}

.users > .list-group-item {
  padding: 10px 20px;
  border: none;
  background: none;
}

.users > .list-group-item > .thumbnail {
  position: relative;
  width: 256px;
  height: 193px;
  padding: 0;
  margin: 0 auto;
  text-decoration: none;
}

.users > .list-group-item > .thumbnail > img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 191px;
  max-width: 254px;
  padding: 0;
  z-index: 1;
  -webkit-backface-visibility: hidden;
}

.users > .list-group-item > .thumbnail,
.users > .list-group-item > .thumbnail > img {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.users .caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px 9px;
  color: #ffffff;
  background: rgba(42, 159, 214, 0.4);
  z-index: 1;
}

.users .caption .glyphicon {
  position: absolute;
  top: 3px;
  left: 6px;
  font-size: 1.6em;
}

.users .caption .glyphicon-circle_background {
  width: 19px;
  height: 19px;
  top: 5px;
  left: 7px;
  background: #ffffff;
  border-radius: 13px;
}

.users .caption .glyphicon-circle_ok {
  color: #53a93f;
}

.users > .list-group-item.missing .caption .glyphicon-circle_ok {
  color: #ead100;
}

.users .caption .glyphicon-circle_exclamation_mark {
  color: #db4437;
}

.users .caption-name {
  float: left;
  padding-left: 24px;
}

.users .caption-timestamp {
  float: right;
}

.users .action {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #ffffff;
  font-size: 1.2em;
  background: rgba(42, 159, 214, 0.3);
  z-index: 1;
}

.users > .list-group-item.conversing .action {
  display: block;
}

.users > .list-group-item.conversing .action > * {
  display: none;
}

.users > .list-group-item.busy .action {
  background: rgba(216, 74, 56, 0.3);
}

.users .action .glyphicon {
  display: block;
  font-size: 2.5em;
  margin: 55px 0 10px;
}

.users .conversation {
  position: absolute;
  display: block;
  top: 4px;
  left: 4px;
  right: 0;
  background: none;
  border-bottom: none;
  box-shadow: none;
  text-align: left;
}

.users .conversation .title {
  display: none;
}

.users > .list-group-item > .thumbnail:hover .action,
.users > .list-group-item > .thumbnail:hover .action > * {
  display: block;
}

#rooms .modal-body {
  padding-bottom: 0;
}

.rooms .form-group label {
  font-size: 13px;
}

.rooms .form-control {
  height: 28px;
  padding: 6px 8px;
}

.rooms .rooms-other .rooms-none {
  display: block;
}

.rooms .rooms-other .nav > li {
  position: relative;
}

.rooms .rooms-other .nav > li a {
  padding: 6px 12px;
}

.rooms .rooms-other .nav > li .glyphicon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 8px 8px 0 0;
  cursor: pointer;
}

.rooms .rooms-create input {
  display: inline-block;
  width: 150px;
  margin-right: 8px;
}

.help_guide .media-heading {
  font-weight: bold;
}

.help_guide .media,
.help_gudie .media .media {
  margin-top: 3px;
}